*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.img{
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    background-color: #654cae;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 20rem;
    margin-top: 4rem;
}
.logo{
    width: 100%;
}

.menu {
    width: 100%;
    font-size: 100%;

}

.menu button{
    margin-left: 2rem;
    font-size: 100%;
    width: 10%;
    background-color: #654cae;
    color: white;
    border: #654cae;
    padding-right: 20%;
}

.menu button svg {
    width: 2rem; /* Aumenta o tamanho dos ícones */
    height: 2rem; /* Aumenta o tamanho dos ícones */
  }

  .main{
    display: flex;
    flex-direction: row;
}
.esquerda{
    width: 50%;
    text-align: center;
    margin-top: 4%;
}

.direita{
    width: 50%;
    text-align: center;
    font-size: 100%;
    margin-top: 3%;
    margin-right: 13%;
}

label{
    margin-right: 24rem;
}

.form-select{
    margin-top: 0.5rem;
}

.autor{
    margin-right: 27rem
}
.editora{
    margin-right: 26rem
}
.genero{
    margin-right: 26rem
}

.descricao{
    margin-right: 25rem
}

#capa_livro{
    justify-content: center;
    width: 40%;
    margin-top: 1rem;
    border-radius: 1rem;
}

h1{
    color: #654cae;
    text-align: center;
    font-size: 200%;
}
textarea{
    background-color: #d1d5f0;
    width: 30rem;
    height: 10rem;
    border: none;
    border-radius: 1.5vh;
    margin: 0.5rem;
    outline: none;

}

input {
    background-color: #d1d5f0;
    width: 30rem;
    border: none;
    border-radius: 1.5vh;
    margin: 0.5rem;
    outline: none;
}

.itens_cadastro input{
    height: 3rem;
    gap: 4rem;
}

.imagem #capa_livro{
    width: 20vw;
    max-width: 70vh;
    max-height: 50vh;
}

.selector{
    margin: 0.5rem;
}
.selector #seletor{
    width: 30rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: #d1d5f0;
    border-color: #d1d5f0;
}

.btn_cadastrar{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.btn_cadastrar button{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 3rem;
    width: 12vw;
}

.cadastrar{
    color: aliceblue;
    background-color: #664caf;
    border-radius: 2rem;
    border: none;
    text-align: center;
    margin: 1rem;
}


.sinopse input{
    height: 17vh;
}

.sinopse{
    margin: 0.5rem;
}

.file-upload-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20rem;
    margin-top: 1rem;
  }
  .file-upload-label input {
    display: none;
  }
  .file-upload-label svg {
    height: 50px;
    fill: black;
    margin-bottom: 20px;
  }
  .file-upload-label {
    cursor: pointer;
    background-color: #ddd;
    padding: 30px 70px;
    border-radius: 40px;
    border: 2px dashed ;
    box-shadow: 0px 0px 200px -50px #654cae;
  }
  .file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 10rem;
    height: 20rem;
  }
  .browse-button {
    background-color: #654cae;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
  }
  .browse-button:hover {
    background-color: black;
  }
  








 