/* Definindo tamanhos para toda a tela */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Definindo estilo, tamanho e lugar da imagem */
.img {
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    background-color: #654cae;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Definindo tamanho e local para imagem que pertence ao header */
header img {
    width: 20rem;
    margin-top: 4rem;
}

/* Definindo tamanho para logo */
.logo {
    width: 100%;
}

/* Definindo tamanho e estilo para o menu */
.menu {
    width: 100%;
    font-size: 100%;
}

/* Definindo estilo e tamanho para o botão que pertence ao header */
.menu button {
    margin-left: 2rem;
    font-size: 100%;
    width: 10%;
    background-color: #654cae;
    color: white;
    border: #654cae;
    padding-right: 20%;
}

/* Definindo tamanhos para o atributo svg do menu */
.menu button svg {
    width: 2rem;
    height: 2rem;
}

/* Definindo local do main na tela */
.main {
    display: flex;
    flex-direction: row;
}

/* Definindo local da div para esquerda */
.esquerda {
    width: 100%;
    text-align: center;
    margin-top: 4%;
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* Definindo local da div para direita */
.direita {
    width: 50%;
    text-align: center;
    font-size: 100%;
    margin-top: 3%;
    margin-right: 13%;
}

/* Definindo margem dos atributos */
label {
    margin-right: 24rem;
}

.form-select {
    margin-top: 0.5rem;
}

.autor {
    margin-right: 27rem;
}

.editora {
    margin-right: 26rem;
}

.genero {
    margin-right: 26rem;
}

.descricao {
    margin-right: 25rem;
}

/* Definindo estilo e localização da imagem para capa do livro */
#capa_livro {
    justify-content: center;
    width: 40%;
    margin-top: 1rem;
    border-radius: 1rem;
}

/* Definindo estilo pro h1 */
h1 {
    color: #654cae;
    text-align: center;
    font-size: 200%;
}

/* Definindo estilo para área de texto */
textarea {
    background-color: #d1d5f0;
    width: 30rem;
    height: 10rem;
    border: none;
    border-radius: 1.5vh;
    margin: 0.5rem;
    outline: none;
    padding: 1rem;
}

textarea:focus {
    box-shadow: 1px 1px 3px 3px #b4bbee;
}

/* Definindo estilo para os inputs */
input {
    background-color: #d1d5f0;
    width: 30rem;
    border: none;
    border-radius: 1.5vh;
    margin: 0.5rem;
    outline: none;
    padding: 1rem;
}

input:focus {
    box-shadow: 1px 1px 3px 3px #b4bbee;
}

/* Definindo estilo para os inputs que pertencem ao cadastro */
.itens_cadastro input {
    height: 3rem;
    gap: 4rem;
}

/* Definindo estilo para a capa do livro que pertence a classe de imagens */
.imagem #capa_livro {
    width: 20vw;
    max-width: 70vh;
    max-height: 50vh;
}

/* Definindo margem à div selector */
.selector {
    margin: 0.5rem;
}

/* Definindo estilo ao seletor que pertence à div selector */
.selector #seletor {
    width: 30rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: #d1d5f0;
    border-color: #d1d5f0;
}

/* Definindo estilo ao botão de cadastrar */
.btn_cadastrar {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.btn_cadastrar button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3rem;
    width: 12vw;
}

.cadastrar {
    color: aliceblue;
    background-color: #664caf;
    border-radius: 2rem;
    border: none;
    text-align: center;
    margin: 1rem;
}

/* Definindo tamanho para o input da sinopse */
.sinopse input {
    height: 17vh;
}

/* Definindo margem para a div sinopse */
.sinopse {
    margin: 0.5rem;
}
.file-upload-form {
    cursor: pointer;
    background-color: #ddd;
    padding: 6vh 6vh;
    border-radius: 40px;
    border: 2px dashed rgb(82, 82, 82);
    box-shadow: 0px 0px 200px -50px #654cae;
    width: 30%;
    height: 30vh;
    margin-top: 4vh;
}
.file-upload-label input {
    display: none;
}
.file-upload-label svg {
    height: 50px;
    fill: #654cae;
    margin-bottom: 20px;
}
.file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.browse-button {
    background-color: #654cae;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
}
.browse-button:hover {
    background-color: rgb(14, 14, 14);
}
  