* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    min-height: 100vh; /* Garante que o body ocupe toda a altura da janela */
    background-color: #dddddd;
    display: flex;
    align-items: flex-start; /* Alinha o conteúdo no topo, evitando que a navbar suma */
    flex-direction: column; /* Organiza a navbar e o conteúdo principal verticalmente */
}

.main-container {
    width: 90%; /* Largura reduzida para 90% */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    padding: 20px; /* Espaçamento interno */
    margin: 3rem auto; /* Centraliza o container no centro da página */
}

.main {
    width: 100%; /* Define largura total dentro do container */
    display: flex;
    justify-content: space-between; /* Espaça a coluna esquerda e direita */
    align-items: flex-start; /* Alinha os itens no topo */
    padding: 20px; /* Espaçamento interno */
    max-width: 95%; /* Define uma largura máxima */
    border: 1px solid #ccc; /* Borda ao redor do main */
    border-radius: 20px; /* Arredondamento das bordas */
    background-color: #f2f2f2; /* Fundo claro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
}

/* Coluna esquerda */
.esquerda {
    width: 40vw; /* Corrigido para 40vw para melhor adaptação ao layout */
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-left: 6rem;
}

/* Coluna direita */
.direita {
    width: 50%;
    font-size: 100%;
    margin-top: 4%; /* Espaço extra acima da coluna direita */
    margin-left: 10%;
    margin-right: 10%;
}

img {
    width: 20vw;
    height: auto; /* Mantém a proporção correta da imagem */
}

.icons {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex; /* Ícones lado a lado */
    gap: 2rem; /* Espaço entre os ícones */
    align-items: center; /* Alinhamento vertical dos ícones */
}

.icons svg {
    fill: #301c6e; /* Cor dos ícones */
    width: 2vw; /* Largura dos ícones */
    height: 2.5vh; /* Altura dos ícones */
    cursor: pointer; /* Mudança do cursor ao passar o mouse */
}


.dados h2,
.sinopse h2 {
    color: black;
    text-align: left; /* Alinha o texto à esquerda */
    margin: 0; /* Remove a margem padrão */
    margin-top: 10%;
}

.dados p,
.sinopse p {
    text-align: justify; /* Justifica o texto dos parágrafos */
    margin: 0; /* Remove a margem padrão para o parágrafo */
    padding-top: 1rem; /* Adiciona um pequeno espaço entre o título e o parágrafo */
}

.salvar {
    margin-top: 2rem;
    background-color: #301c6e; /* Cor roxa */
    color: white; /* Texto branco para contraste */
    width: 100%; /* Deixa o botão ocupar toda a largura disponível */
    padding: 3% 0; /* Altura do botão */
    border: none; /* Remove as bordas */
    border-radius: 3px; /* Bordas levemente arredondadas */
    font-size: 16px; /* Tamanho do texto */
    cursor: pointer; /* Mostra o ícone de "mãozinha" ao passar o mouse */
}

.botao button:hover {
    background-color: #271a54; /* Cor ligeiramente mais escura ao passar o mouse */
}


.thumbnails img {
    max-width: 3rem; /* ou qualquer largura desejada */
    height: auto; /* Mantém a proporção */
    margin: 5px;
    cursor: pointer;
}

/* Estilos do carrossel */
.carousel-container {
    width: 100%;
    max-width: 170vh;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.carousel {
    margin-top: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.carousel-items {
    margin-left: 0.5rem;
    display: flex;
    transition: transform 0.5s ease-in-out; /* Transição suave para as animações do carrossel */
    width: 100%; /* O carrossel ocupa toda a largura do container */
}

.item {
    min-width: 16rem; /* Largura mínima de cada item */
    height: 20rem;
    margin: 1rem;
    background-color: #f2f2f2;
    border-radius: 9px; /* Arredonda as bordas dos itens */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra nos itens */
    text-align: center;
}

.item img {
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 8vw; /* Mantém a largura total do item */
    height: 15vh; /* Define uma altura fixa para as imagens */
    object-fit: cover; /* Corta as imagens para preencher o espaço sem distorção */
    border-radius: 8px; /* Arredonda as bordas das imagens */
}


.item p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.prev, .next {
    background-color: rgba(194, 191, 191, 0.5); /* #dddddd com 50% de opacidade */ /* Fundo branco dos botões */
    border: none; /* Remove a borda padrão */
    font-size: 24px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de clique */
    padding: 10px;
    position: absolute; /* Posição absoluta para fixar os botões nas extremidades */
    top: 50%;
    border-radius: 200%;
    transform: translateY(-50%); /* Centraliza os botões verticalmente */
    z-index: 100; /* Garante que os botões fiquem sobre o conteúdo */

    transition: background-color 0.3s ease; /* Transição suave para a mudança de cor */
}

.prev {
    left: 0; /* Botão anterior na esquerda */
    
}

.next {
    left: 93rem; /* Botão próximo na direita */
}


.carousel-container h2{
    color: black;
}

.ver-mais{
    margin-top: 1rem;
    background-color: #301c6e; /* Cor roxa */
    color: white; /* Texto branco para contraste */
    max-width: 7vw; /* Deixa o botão ocupar toda a largura disponível */
    padding: 9px 0; /* Altura do botão */
    border: none; /* Remove as bordas */
    border-radius: 2px; /* Bordas levemente arredondadas */
    font-size: 16px; /* Tamanho do texto */
    cursor: pointer; /* Mostra o ícone de "mãozinha" ao passar o mouse */
}

footer {
    background: #c4c2c2;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #301c6e;
    padding: 0 0 1rem; /* Aumenta o padding inferior para criar espaço */
    width: 100vw; /* O footer continua ocupando toda a largura da tela */
    height: auto; /* Deixe o height automático para que o conteúdo defina a altura */
    margin-top: 1rem;
}

.medias-socias {
    margin-top: 1rem;
    margin-bottom: 0.75rem; /* Diminui o espaço abaixo dos ícones */
}

.medias-socias i {
    font-size: 1.3rem; /* Reduz o tamanho dos ícones */
    border: 0.1rem solid #301c6e;
    padding: 0.5rem; /* Ajusta o padding dos ícones */
    border-radius: 50%;
    margin: 0.25rem; /* Reduz o espaço entre os ícones */
    cursor: pointer;
}

.links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0.5rem 0; /* Diminui o espaço entre os links e o conteúdo do footer */
}

.links a {
    color: #301c6e;
    text-decoration: none;
    margin: 0 0.5rem; /* Reduz a distância entre os links */
    font-size: 1rem; /* Diminui o tamanho da fonte */
}

.links a:hover {
    opacity: 0.55;
}

.copyright {
    font-size: 0.85rem; /* Diminui o tamanho do texto de copyright */
    margin-top: 0.5rem; /* Reduz o espaço acima do copyright */
}

.image-wrapper{
    background-color: #ededed;
    height: 14rem;
    border-radius: 0.5rem;
}