/* Definindo tamanhos para toda a tela*/
.screen{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Definindo localização do menu*/
.menu{
    margin-left: 26rem;
}
/* Definindo localização da logo*/
.logo{
    margin-left: 8%;
}
.main-content{
    display: flex;
    flex-direction: column;
}
/* Definindo localizção da div de foto do usuário*/
.user-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2%;
    gap: 5%;
}
/* Definindo tamanho da imagem*/
.user-img{
    width: 10rem;
    height: 10rem;
}
.user-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* Definindo localização do username*/
.user-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/* Definindo localização das informações do perfil*/
.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.user-follow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5%;
    gap: 15%;
}
/* Definindo localização do botão*/
.user-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15%;
}
/* Definindo localização e tamanho da imagem dos livros no perfil*/
.user-books img{
    border-radius: 5%;  
    width: 80%; 
    height: 80%; 
    object-fit: cover;
    margin-bottom: 3%; 
}
.user-books{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2%;
    gap: 5%;
}
.user-books div{
    width: 15rem;
    height: 30rem;
}
.user-books div img{
    width: 100%;
    height: 80%;
}