/* Estilos gerais para a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo para o banner */
img[alt="bannerresultados"] {
    width: 100%;      
    height: 30vh;     
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
    display: block;    /* Remove o espaço em branco ao redor da imagem */
    margin: 0 auto;    /* Centraliza  */
    margin-bottom: 20px;
}



main {
    padding: 20px;
}



#resultados {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
    margin-left: 13rem;
    max-width: 1000px;
}

.book-result {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 12rem;
    height: auto;
    border-radius: 0.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 2.5rem;
}

/* Efeito  ao passar o mouse */
.book-result:hover {
    transform: translateY(-10px); /* Eleva  */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
}


.book-result img {
    width: 200px;
    height: 180px;
    margin-bottom: 15px;
    object-fit: contain;
  
   
}
/* título do livro */
.book-result h2 {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color:black;
}

/* autor */
.book-result p {
    font-size: 1rem;
    color: #555;
}


