/* Estilos gerais para a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo para o banner */
img[alt="bannerresultados"] {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}



#resultados {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.book-result {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 12rem;
    height:auto;
}

.book-result img {
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
    object-fit: contain;
  
   
}
/* Estilo para o título do livro */
.book-result h2 {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Estilo para o autor */
.book-result p {
    font-size: 1rem;
    color: #555;
}


