/* Definindo estilo para toda a tela*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* Definindo estilo para todo o corpo da tela*/
body {
    background-color: aliceblue;
}
/* Definindo estilo, tamanhos e localização para imagem*/
.img{
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    background-color: #654cae;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Definindo estilo para imagem que pertence ao header*/
header img{
    width: 20rem;
    margin-top: 4rem;
}
/* Definindo local e tamanho da logo*/
.logo{
    margin-left: 8rem;
    width: 100%;
}
/* Definindo local e tamanho do menu*/
.menu {
    width: 100%;
    font-size: 100%;
    margin-left: 26rem;

}
/* Definindo estilo e tamanho dos botãos que pertencem ao menu*/
.menu button{
    font-size: 100%;
    width: 10%;
    background-color: #654cae;
    color: white;
    border: #654cae;
    padding-right: 20%;
}

.menu button svg {
    width: 2rem; 
    height: 2rem; 
  }
/* Definindo local do h1*/
h1 {
    text-align: center;
    margin-top: 4rem;
}  
/* Definindo tamanho para as imagens*/
.imagens {
    max-width: 2,25rem;
}
/* Definindo estilo dos atributos para a screen*/
@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}
.tamanhosection{
    display: flex;
    flex-wrap: wrap;
}

.tamanhosection > div{
    flex: 1 1 20%;
}
.tamanhosection div{
    
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    margin-top: 1%;
    max-width: 16%;
    max-height: 20%;
    margin-bottom: 0;
    padding: 0;
    margin-left: 1rem;
}
/* Definindo estilo, localização e tamanho para o título dos livros*/
figcaption{
    text-align: center;
    margin-top: 3%;
    font-size: 1.5rem;
    color: black;
}


  /* Definindo estilo para o section */

  .tamanhosection { 
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: center;
    gap: 1rem; /* Espaçamento entre as divs  */
  }   
 
 .tamanhosection .imagens {
    border-radius: 5%;  
    width: 80%; 
    height: 80%;
    object-fit: cover; 
    margin-bottom: 3%; 
}
 